<div class="row" style="height:100px;">
            <div class="col-12 text-center my-auto" >
            <a class="d-inline-block" href="{% url 'home' %}?dc=product-box" id="">
                            <div class="text-center">
                                <p class="my-0 mr-5 fs12rem">Photos</p>
                            </div>
                        </a>
            <a class="d-inline-block" href="{% url 'home' %}?dc=category-box" id="">
                            <div class="text-center">
                                <p class="my-0 mr-5 fs12rem">Categories</p>
                            </div>
                        </a>          
            </div>
        </div>